#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:70px;
   width:100%;
   background:#f4f5f9;
}
fieldset {
    border: 2px solid rgba(243, 156, 18, 0.49) !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;	
    padding-left:10px!important;
    width: 100%;
}	
legend{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 100%; 
    border: 1px solid #f39c12;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #f39c12;
}
div.tscrol{
    width: 100%;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}
/* คอลัมแนวตั้ง */
div.vertical
{
 position: relative;
 height: 180px;
 width: 43px;
 margin-left: 0;
 padding-right: 10px;
 writing-mode: tb-rl;
 filter: flipv fliph;
 align-content: center;
}
table.fixed{
    table-layout:fixed; 
}
table.fixed td { 
    overflow: hidden; 
}